#carousel {
    height: 880px;
    width: 100%;
}
#centertext {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: black;
}
h1 {
  border: 2px solid grey;
  padding: 30px;
  padding-right: 70px;
  padding-left: 70px;
}
.container-xl {
  text-align: center;
  padding-top: 53px;
}
.navagationbar {
    background-color: #333;
    overflow: hidden;
    position: absolute;
    top: 0;
    width: 100%;
}
.navagationbar a {
  float: left;
  color: #f2f2f2;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
  display: block;
}
.navagationbar a:hover {
  background-color: grey;
}
.navagationbar a.active {
  background-color: grey;
  color: black;
}
.navagationbar-right {
  float: right;
}
p {
  font-size: 20px;
  padding: 10px;
  color: black;
}
#text {
  padding-left: 30px;
  padding-right: 30px;
}
#leftside {
  float: left;
  text-align: left;
  font-size: 20px;
  border-style:groove;
}
#sidebar {
  padding-left: 5%;
  height: 20%;
  width: auto;
}
#contents {
  padding-left: 5%;
  padding-right: 5%;
  padding-top: 20px;
  float: left;
  width: 60%;
}
img {
  max-width: 100%;
  height: auto;
}
.list-group-item {
  padding: 15px
}
.list-group-flush {
  padding-left: 15px;
  padding-right: 15px;
}
#rightside {
  float: right;
  text-align: right;
  padding: 0px;
  width: 20%;
}
#highlighted::after {
  content: "< ";
}
#highlighted::before {
  content: " >"
}
#highlighted {
  background-color: #B3B0B0;
}
li.list-group-item:hover{
  background-color: #979797;
}
.container-md {
  padding: 20px;
  text-align: left;
}
@media only screen and (orientation: portrait){
  .container-sm{
    float: none;
    width: 100%;
  }
  #sidebar {
    padding-left: 60px;
    padding-right: 60px;
  }
  #leftside {
    text-align: center;
  }
  #contents {
    width: 100%;
  }
}
@media only screen and (max-width: 1375px) {
  #rightside {
    float: left;
    width: 50%;
  }
  img {
    width: auto;
  }
}
